---
layout: post
title: "{{ title }}"
author: "{{ authors | join(', ') }}"
cover_image: "{{ cover }}"
---

{% if cover %}
![Cover image]({{ cover }})
{% endif %}

{% if first_sentence %}

"{{ first_sentence }}"

{% endif %}


{{ description }}