class BookFetcher:
    def fetch_by_isbn(self, isbn):
        # implementation code
        pass

    def some_other_method(self):
        book = self.fetch_by_isbn("1234567890")
        # additional code